<h2>Collections</h2>
<p>Click on a collection to view its contents:</p>

<% @sorted_collections = @collections.sort_by{|coll| coll.name}%>
<% @sorted_collections.each do |coll| %>
<%= link_to coll.name, collection_path(coll)%><br><br>
<% end %>