<% provide(:title, 'Collections') %>

<div class="col-md-6 col-md-offset-1">
<h1>Collections</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <p>Click on a collection to view its contents:</p><br><br>
        <ul>
        <% @sorted_collections = @collections.sort_by{|coll| coll.name}%>
        <% @sorted_collections.each do |coll| %>
        <li><%= link_to coll.name, collection_path(coll)%><br><br>
        <% end %>
        </ul>
</div>
</div>