<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | CardFlash</title>
  </head>
  <body>
    <div>
      <hr>
    <h1>CardFlash</h1>
    <p>
     <h2>Wow omg welcome to CardFlash! <br> <br> Why not log in, create some flash cards, store them in collections, and then start studying???? </h2>
     </hr>
    </div>
  </body>
</html>