<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Card Flash</h1>
    <p>
     <h2>Wow omg welcome to card flash! <br> <br> Once you are logged in, why not create some flash cards, store them in collections, and then get studying???? </h2>

  </body>
</html>