<% provide(:title, "Flashcards") %>

<div class="col-md-6 col-md-offset-1">
<ul>
<h2>Flashcards!</h2>
</div>

<%# @sorted_flashcards = @flashcards.all.sort_by{|card| card.tags.first} %>

<div class="row">
    <div class="col-md-6 col-md-offset-1">

    <p>Add flashcards to your collection:</p><br>
        <% @flashcards.each do |card| %>

            <li><%= link_to "Question", card %><%= ": " + card.question %><br><%= "Answer: " + card.answer %><br><br>
        <% end %>
        </ul>

            <%= link_to '<button type="button">Create Flashcard</button>'.html_safe, "/flashcards/new" %>

    </div>
</div class="col-md-6 col-md-offset-1">
