<% provide(:title, 'Flash Yo Friends') %>
Welcome to Flash! 

<div class="col-md-6 col-md-offset-1">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
           
        Hi!
      </h1>
    </section>
  </aside>
</div>