<% provide(:title, @user.username) %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1> 
       <h1> Hi <%= @user.username %> ! </h1>
       <h2> These are your current collections: <%= @user_collections%> ! </h1>
      </h1>
    </section>
  </aside>
</div>

