<footer class="footer">
  <small>
    <a href="https://cdnph.upi.com/svc/sv/i/4381473439452/2016/1/14734398701569/Skateboarding-cat-shreds-her-way-into-Guinness-Book-of-World-Records.jpg">~~ Alexpls ~~ </a>
    <a href="https://cluelesscoder.tumblr.com/">~~ Jackpls ~~ </a> 
        <a href="https://www.tumblr.com/blog/josh-gotro">~~  Joshpls ~~ </a>
  </small>

</footer>