<footer class="footer">
  <small>
    <a href="https://cdnph.upi.com/svc/sv/i/4381473439452/2016/1/14734398701569/Skateboarding-cat-shreds-her-way-into-Guinness-Book-of-World-Records.jpg"target="_blank">~~ Alexpls ~~ </a>
    <a href="https://cluelesscoder.tumblr.com/"target="_blank">~~ Jackpls ~~ </a> 
        <a href="https://josh-gotro.tumblr.com/"target="_blank">~~  Joshpls ~~ </a>
  </small>

</footer>