 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Card Flash", static_page_home_path %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", static_page_home_path %></li>
            <li><%= link_to "Log in", login_path %></li>       
            <li><%= link_to "New User", signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>